.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFix{
    clear: both;
}
/*超出部分...显示*/
.omitted{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
table thead tr th{

}
